html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--background2);
}
#app {
  overflow-y: scroll;
}

:root {
  /* --background: #2f717d; */
  --background: #1d0657;
  --background2: #f0f0f0;
  --background3: #ffffff;
  --background4: #0e3f47;
  --primary: #71ACE2;
  --warning: #E6A23C;
  --danger: #F56C6C;
  --white: #dddddd;
  --black: #2c3e50;
}

@font-face {
  font-family: "logo";
  src: url("../font/logo.woff");
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none !important;
  color: unset;
}

.router-link-exact-active {
  color: var(--primary) !important;
}

.router-link-active {
  color: var(--primary) !important;
}

.login .el-dialog__wrapper {
  display: grid;
  place-content: center;
}

.login .el-dialog {
  border-radius: 4px;
  margin: 0 0 8vh !important;
  padding: 10px 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  min-height: 25px;
  min-width: 25px;
  border: 1px solid var(--background);
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}